<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>116870261618-ph124sj0updbs32g13osuqrme6vm0taj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116870261618-ph124sj0updbs32g13osuqrme6vm0taj</string>
	<key>API_KEY</key>
	<string>AIzaSyCgJ5_zTMBR2k7gBe-nKav1S2r2eQ-UlXg</string>
	<key>GCM_SENDER_ID</key>
	<string>116870261618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cat.wallet.trust</string>
	<key>PROJECT_ID</key>
	<string>catwallet-d271a</string>
	<key>STORAGE_BUCKET</key>
	<string>catwallet-d271a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116870261618:ios:f543167a75044c97</string>
	<key>DATABASE_URL</key>
	<string>https://catwallet-d271a.firebaseio.com</string>
</dict>
</plist>